.preview_html {
  background: rgb(255, 255, 255);
  padding: 15px;
  border: 2px solid rgb(221, 221, 221);
  width: 100%;
  box-sizing: border-box;
  z-index: 9999;
  position: absolute;
  cursor: move;
}

.achb-panel-title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  margin-left: 0 !important;
}

.achb-panel-title svg {
  width: 18px !important;
  height: 18px !important;
  fill: none;
  stroke: #226df5;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  display: inline-block;
}